.body {
    display: flex;

    main {
        width: 50dvw;
        height: 100dvh;
        padding: 20px;
        display: flex;
    }

    aside {
        width: 50dvw;
        height: 100dvh;
        padding: 20px;
        display: flex;
    }
}