.screen {
    display: flex;
    border-radius: 32px;
    background: black;
    flex-grow: 1;
    color: white;
    padding: 20px;

    .innerScreen {
        background-color: white;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-grow: 1;
        color: black;
        font-family: monospace;

        hl {
            height: 1px;
            margin: 9px;
            background-color: rgb(230, 230, 230);
            width: 50%;
        }
    }
}